DATABASE_URL="postgresql://neondb_owner:npg_Gv7LCMJ4mqUe@ep-old-math-appnrptu-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="replace_with_a_long_random_secret"
PORT=5000
FRONTEND_URL="https://steel-frontend.vercel.app/"
